html, body {
    margin: 0 auto;
    padding: 0;
    font-family: Verdana, Arial, sans-serif;
}
header {
    background-image: url(/img/sky.jpg);
    background-size: cover;
    text-align: center;
}
header h1 {
    font-size: 70px;
    margin: 20px;
}
#avatar {
    border: 10px solid rgba(0,0,0,0.5);
    border-radius: 20px;
    margin-top: 20px;
}
#menu {
    list-style-type: none;
    padding: 0;
    background-color: rgba(255,255,255,0.6);
}
#menu li {
    font-size: 25px;
    display: inline;
    padding: 0 40px 0 40px;
}
